form, #register {
	width: 400px;
	text-align: center;
	margin: 0 auto;
}

.modal-body {
	width: 90%;
	margin: 0 auto;
}

.input-div label, .input-div input, .input-div span {
	display: inline-table;
}

input {
	width: 100%;
	heigth: 30px;
	margin: 3px 0;
}

.form-label {
	margin: 5px 0 0 2px;
	float: left;
}

.invalid-data {
	border: 2px solid #ff4d4d;
	background-color: #ffe6e6;
}

.form-body {
	box-sizing: border-box;
	padding: 0 30px
}

.span-requested {
	color: #ff4d4d;
	float: left;
}

.invisible {
	display: none;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.left-half-container {
	width: 720px;
	float: left;
	background-color: #e7e7e7;
	padding: 15px 0;
	margin: 0 auto;
}

.right-half-container {
    width: 240px;
    float: left;
    background-color: lightgray;
    padding: 30px;
}


.thumbnail>img {
	margin-right: auto;
	margin-left: auto;
	width: 171px;
	height: 180px;
}

.col-md-3 {
	width: 240px;
}

.footer {
	clear: both;
	text-align: center;
	background-color: lightgray;
	height: 200px;
}

.cover-img {
	width: 100%;
}

.input-group {
	display: inline-flex;
	float: right;
	position: relative;
	top: 8em;
	right: 8em;
}

.jumbotron {
	padding-top: 0px;
	padding-bottom: 0px;
}

.titlu-jumbotron{
    display: inline;
    padding-left: 30px;
	    margin-top: 0px;
    margin-bottom: -36px;
}

.input-group input, .input-group .selectpicker{
	margin:0;
height:40px;
}
