

form, #register {
	width: 400px;
	/*text-align: center;*/
	margin: 0 auto;
}

.modal-body{
	width: 90%;
	margin: 0 auto;
}

.checkbox-div {
	display:inline-block;
}

.checkbox-publica {
	display: inline-block;
	vertical-align: baseline;
	margin-left: 7px;
}

.modal-header{
	color: red;	
	text-align: center;
}

.btn-primary {
	background-color: red;
}

.input-div label, .input-div input, .input-div span{
	display:inline-table;	
}

input {
	margin: 3px 0;
}

input[type=text], input[type=password] {
	width: 100%;
	height: 30px;
}

textarea {
	width: 100%;
}

.form-label {
	margin: 5px 0 0 2px;
	float: left;
}

.invalid-data {
	border: 2px solid #ff4d4d;
	background-color: #ffe6e6;
}

.form-body {
	box-sizing: border-box;
	padding: 0 30px
}

.span-requested {
	color: #ff4d4d;
	float: left;

}

.invisible{
	display: none;
}

.container{
	width:960px;
	margin:0 auto;	
}

.left-half-container{
	width:480px;
	float:left;
}

.right-half-container{
	width:480px;
	float:right;
}

body .modal-content {
  width: 90%; /* desired relative width */
  left: 5%; /* (100%-width)/2 */
  /* place center */
  margin-left:auto;
  margin-right:auto; 
}

.thumbnail>img {
    margin-right: auto;
    margin-left: auto;
    width: 171px;
    height: 180px;
}

.col-md-3 {
    width: 240px;
}


.footer {
    clear: both;
    text-align: center;
    background-color: lightgray;
    height: 200px;
}


.prov-info {
	display: inline;
}